.palette {
	.colors {
		display: flex;
		padding: 5px 10px;

		.color {
			width: 100px;
			height: 100px;
			cursor: pointer;
			margin: 0 5px;
		}
	}

	.mixer {
		width: 700px;
		height: 300px;
		border: 1px solid @white;
		border-radius: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 20px;
	}
}